<div class="container-fluid">
    <div class="row">
        <div style="background-color: grey; height: 93vh" class="col-md-3">
            <div>
                <mat-card class="mt-3">
                    <form [formGroup]="todoForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Task name</mat-label>
                            <input formControlName="item" matInput placeholder="Write a task">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint>
                        </mat-form-field>
                        <button *ngIf="!editable; else update" (click)="addTask()" mat-raised-button [disabled]="todoForm.invalid"  color="primary">Add</button>
                        <ng-template #update>
                            <button (click)="updateTask(editIndex, 'task')" mat-raised-button [disabled]="todoForm.invalid" color="primary">Update</button>
                            <button (click)="cancelEditTask()" mat-raised-button color="secondary">Cancel</button>
                        </ng-template>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9">
            <div cdkDropListGroup>
                <div class="row">
                    <div class="container task-container col-md-4">
                        <h1>To do</h1>
                        <div 
                            class="list"
                            cdkDropList
                            [cdkDropListData]="tasks"
                            (cdkDropListDropped)="drop($event)">
                            <!-- todo -->
                            <div class="task-box" *ngFor="let item of tasks; let i = index" cdkDrag>
                                {{ item.description }}
                                <div class="task-buttons">
                                    <button mat-icon-button color="warn" (click)="deleteTask(i, 'task')"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="primary" (click)="onEditTask(item, i, 'task')"><mat-icon>edit</mat-icon></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container in-progress-container col-md-4" >
                        <h1>In progress</h1>
                        <div class="col-md-4"
                            class="list"
                            cdkDropList
                            [cdkDropListData]="inProgress"
                            (cdkDropListDropped)="drop($event)">
                            <!-- in progress -->
                            <div class="task-box" style="background: rgb(206, 206, 206)" *ngFor="let item of inProgress; let i = index" cdkDrag>
                                {{ item.description }}
                                <div class="task-buttons">
                                    <button mat-icon-button color="warn" (click)="deleteTask(i, 'progress')"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="primary" (click)="onEditTask(item, i, 'progress')"><mat-icon>edit</mat-icon></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container done-container col-md-4">
                        <h1>Done</h1>
                        <div class="col-md-4"
                            class="list"
                            cdkDropList
                            [cdkDropListData]="done"
                            (cdkDropListDropped)="drop($event)">
                            <!-- done -->
                            <div class="task-box" style="background: rgb(117, 245, 117)" *ngFor="let item of done" cdkDrag>
                                <s>{{ item.description }}</s>
                                <mat-icon color="primary">done</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>